#count{
    display: block;
    text-align: center;
    font-size: 100px;
}
#buttonContainers{
    text-align: center;
}
.buttons{
    padding: 10px 30px;
    font-size: 1.8em;
    color: white;
    background-color: blueviolet;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(241, 48, 48);
}